# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
.env
.venv/
venv/
dist/
build/
# Allow examples
!.env.example
!infra/.env.example
# Poetry/pip-tools caches
.eggs/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node/Frontend
node_modules/
.next/
out/
