# API
fastapi
uvicorn[standard]

# DB & ORM (async)
SQLAlchemy>=2.0
asyncpg
alembic

# Validation & settings
pydantic>=2
pydantic-settings

# Kafka (async consumer/producer)
aiokafka

# AWS SDK (LocalStack compatible)
boto3
botocore

# Caching util (en memoria)
cachetools

# HTTP client para tests
httpx

# Testing
pytest
pytest-asyncio
pytest-cov

# Linting / formatting 
ruff
black
