#C:\bdo-orders-platform\infra\.env
# Database
POSTGRES_DB=orders_db
POSTGRES_USER=orders
POSTGRES_PASSWORD=orders_dev_password
POSTGRES_PORT=5433

# Kafka
KAFKA_BROKER_ID=1
KAFKA_ORDERS_TOPIC=orders

# LocalStack
LOCALSTACK_SERVICES=sns,s3
LOCALSTACK_EDGE_PORT=4566

# API
API_PORT=8000

# AWS
AWS_REGION=eu-west-1
AWS_SNS_TOPIC_ARN=arn:aws:sns:eu-west-1:000000000000:bdo-alerts
AWS_S3_BUCKET=bdo-orders

# Variables para el contenedor API (valores internos)
DB_HOST=db
DB_PORT=5432
DB_USER=orders
DB_NAME=orders_db